<!DOCTYPE html>
{% load static %}
<html>
    <head></head>
    <body>

        <h2>Upload Data Files</h2>

        <p>Insert instructions for getting data (csv format)</p>

        <form action="{% url 'createDataFile' %}" method="post", enctype="multipart/form-data">
            {% csrf_token %}

            <p>Which survey are you uploading data for?
            <select id="survey" name="survey">
                {% for survey in surveys %}
                    <option value="{{survey}}">{{survey}}</option>
                {% endfor %}
            </select></p>

            <p>Please upload your .csv file:
            <input type="file" id="fileUpload" name="fileUpload"></p>
        
            <div><button type="submit">Submit</button></div>
            
        </form>

        <p><a href="..">Back to Home Page</a></p>

    </body>
</html>