<!DOCTYPE html>
<html>
    <head></head>
    <body>

        <h2>Survey Research Utilities</h2>

        <h4>Basic Utilities</h4>
        <ol>
            <li><a href="../addNewSurvey/">Add Survey</a></li>
            <li><a href="../uploadQualtricsFile/">Format Questions</a></li>
            <li><a href="../reviewQuestions/">Review Questions</a></li>
            <li><a href="../uploadDataFile">Upload a New or Updated Data File</a></li>
            <li><a href="../configure_analysis/">Process Data</a></li>
        </ol>

        <h4>Open-Coding and Reconciliation</h4>
        <ol>
            <!-- <li><a href="../chooseCodes/">Select Codes</a></li> -->
            <li><a href="../uploadCoderFile/">Upload a New or Updated Coder File</a></li>
            <li><a href="../prepare_reconciliation">Prepare Reconciliator</a></li>
            <li><a href="../reconciliator">Run Reconciliator</a></li>
            <li><a href="../applyReconciliation">Apply Reconciliation</a></li>
        </ol>

        <h4>Data Analysis and Visualization</h4>
        <ul>
            <li><a href="../showPlot">Generate and Explore Plots</a></li>
            <li><a href="../showComparison">Generate Comparison Tables</a></li>
            <li><a href="../showReport">Generate Full Survey Report</a></li>
            <!-- <li><a href="../browse">Search Responses by Code</a></li> -->
        </ul>
    </body>
</html>